.App {
  text-align: center;
}

label[required]:after {
  content:" *";
  color: red;
  font-weight: bold;
}

.custom-btn-padding {
  padding: 6px 12px!important;
}

.font-size-small {
  font-size: 1.3rem!important;
}

.font-size-small-content {
  font-size: 16px!important;
} 
